.parrafo{
    border: 1px solid black;

    margin: 10px;

    padding: 15px;

    color: mediumslateblue;

    font-size: larger;
    font-weight: 500;
}
div{
    border: solid rgb(240, 182, 255);
    color: rgb(43, 117, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span ul li{
    color: rgb(51, 214, 51);
    font-style: oblique;
    font-weight: 700;
}

#boton{
    background-color: rgb(156, 99, 230);
    border: none;
    font-size: 30px;
    width: 600px;
    padding: 20px;
    color: rgb(24, 182, 255);
}

.texto{
    color: black;
}

.link{
    color: rgb(0, 255, 242);
}

a:hover{
    color: indigo;
}